@use "sass:map";

$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "large": 10280px,
  "max": 1440px,
);

@mixin respond-to($size) {
  @if map.has-key($breakpoints, $size) {
    $width: map.get($breakpoints, $size);
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$size}' not defined in \$breakpoints map.";
  }
}

@mixin filter-style($border-color) {
  border: 1px solid $border-color;
  border-radius: 4px;
  height: 44px;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
