$primary: #5b913b;
$primary_light: #5b913bae;
$primary_dark: #385b24;
$primary_bg: #5b913b0e;
$black: #000;
$white: #fff;
$border: #f3f4f6;
$border_light: #f3f4f648;
$search_border: #cdd2dc;
$search_placeholder: #b2baca;
$text_grey: #abacbe;
$dropdown_text: #585e6a;
